<%- include('includes/head.ejs') %>
</head>
<body>
   <%- include('includes/navigation.ejs') %>
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-5">
                <form action="/admin/add-product" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="title" class="form-control" id="title">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" name="description" class="form-control" id="description">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
<%- include('includes/end.ejs') %>